<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en" /> <![endif]-->
<!--[if IE 7]> <html class="no-js ie7 oldie" lang="en" /> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en" /> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="UTF-8" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="Harish" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="canonical" href="http://url-of-page" />
  </head>
  <body>
    <div class="stella"></div>
    <div class="stella-left"></div>
    <div class="stella-right"></div>
    <div class="stella-base"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="img/harish.png" class="profile-pic"/>
          <div class="markdown-container" style="">
            <div class="markdown">{{ content }}</div>
            <div class="footer">omahacodingcoach [at] gmail [dot] com</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
